# Node.js modules
node_modules/
**/node_modules/

# Logs
logs/
*.log

# Build and dist directories
build/
dist/

# Environment variables
.env
.env.local
/backend/.env

# MacOS system files
.DS_Store

# Ignore frontend specific files
/frontend/build/
/frontend/node_modules/

# Ignore backend specific files
/backend/node_modules/
